
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

html{
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

body *{
    box-sizing: border-box;
}


.main-login{
    width: 100vw;
    height: 100vh;
    background-color: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1{
    margin-top: -12px;
    margin-left: 1em;
    font-size: 40pt;
    color: #73edae;
    text-shadow: 0px 10px 40px #00000056;
}

.text-h4{
    text-align: center;
    font-size: 12pt;
    color: #ffffff;
    font-family: Arial;
}

.left-login-image{
    width: 37vw;
    margin-top: -3em;
    margin-left: 15vw;
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 70%;
    display: flex;
    justify-content: center, top;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1{
    color: #73edae;
    font-weight: 800;
    margin: 0;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield input:focus-visible {
    outline: 2px solid #73edae;
    box-shadow: 0px 5px 20px -6px #73edae;
}

.textfield > label{
    color: #f0ffffde;

}

.textfield > input ::placeholder{
    color: #dfdfdfbd;
}

.conteudo{
    text-align: justify;
}

.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background-color: #73edae;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #73edae;
}

.btn-voltar{
    width: 100%;
    margin-right: 3em;
}
@media only screen and (max-width: 950px){
    .card-login{
        width: 85%;
    }
}

@media only screen and (max-width: 600px){
    .main-login{
        flex-direction: column;
    }
    .left-login > h1{
        display: none;
    }
    .left-login{
        width: 100%;
        height: auto;
        margin-left: 30px;
    }
    .right-login{
        width: 100%;
        height: auto;
    }
    .left-login-image{
        width: 50vw;
    }
    .card-login{
        width: 90;
    }
}


.img_logo_header{
    width: 60px;
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.header-div,
.navigation_header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-div{
    position: absolute;
    top: 5px;
    background-color: none;
    justify-content: space-between;
    padding: 0 1%;
    width: 100%;
    height: 65px;
    display: flex;
}


.content{
    padding-top: 35px;
    text-align: center;
    font-size: 18pt;
    height: 100vh;
}

.navigation_header a{
    text-decoration: none;
    color: #73edae;
    transition: 1s;
    font-weight: bold;
}

.navigation_header a:hover{
    color: var(--color-white);
}

.active{
    background: none;
    padding: 10px;
    border-radius: 10px;
}

.btn_icon_header{
    background: transparent;
    border: none;
    color: var(--color-white);
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 768px) {
    .navigation_header{
        position: absolute;
        flex-direction: column !important;
        top: 0;
        background: var(--color-dark5);
        height: 100%;
        width: 35vw;
        padding: 16px;
        animation-duration: 1s;
        margin-left: -100vw;
    }

    .btn_icon_header{
        display: block;
    }
    
    .right, .extra, .bola{
        display: none;
    }
}

@keyframes showSidebar {
    from {margin-left: -100vw;}
    to {margin-left: -10vw;}
}

:root{
    --color-white: #fff;
    --color-dark1: #272727;
    --color-dark2: #2d2d2d;
    --color-dark3: #414141;
    --color-dark4: #1c1c1c;
    --color-dark5: #343434;
    --color-purple: #EBAD18;
}

.text-p {
    margin-bottom: 8px;
}
